.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
    overflow: hidden;
}

.title {
    background: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 0;
}

.description {
    font-size: 0.9rem;
    margin-top: 0.5em;
}

.content {
    padding: 0 calc(var(--unit) * 2);
}

.separator {
    height: 2px;
    background: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
}

.picture {
    height: 300px;
    overflow: hidden;
    margin-bottom: 2em;
    flex-shrink: 0;
}

.picture > img {
    margin: -25% 0;
}

.ingredients {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    grid-gap: 3em;
    overflow-y: auto;
    flex-shrink: 0;
}

.ingredient {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.ingredient > img {
    width: 50px;
    height: 50px;
    margin-bottom: 1em;
}

.ingredient > p {
    margin: 0;
}

.quantity {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1rem;
}

.label {
    font-size: 0.9rem;
    color: grey;
}

.list {
    counter-reset: count;
    list-style: none;
    padding: 0;
}

.list > li {
    counter-increment: count;
    margin-bottom: 1em;
    text-align: justify;
}

.list > li::before {
    content: "0" counter(count) ".";
    margin-right: 1em;
    font-weight: bold;
    font-size: 1.4rem;
    background: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
    -webkit-background-clip: text;
    color: transparent;
}